python==3.8.12
DateTime==4.3
eventlet==0.24.1
Cython>=0.22
numpy
Flask==1.1.2
Flask-SocketIO==5.2.0
pystan==2.19.1.1
fbprophet==0.7.1
gunicorn==19.9.0
lunarcalendar

pandas==1.4.2
python-dateutil==2.8.2
python-engineio==4.3.2

requests==2.26.0