{% extends "base.html" %}

{% block content %} 
<h1>Forcast </h1>

<div  class="containter" style=" background-color: #ffffff;width: 700px;" >
    <h3> Created by: <b>RANIYA KETFI.</b> </h3>
<p> FEMTO-ST ML intern and 5th year computer science student at ESI-Algiers .</p>
<h3>
    Contact : 
</h3>
<ul>
    <li> <b> Email : </b> hr_ketfi@esi.dz / raniya.ketfi@femto-st.fr. </li>
    <li> <b>Phone : +33758683866.</b></li>
    <li> <b>Linked in : </b> <a href="https://www.linkedin.com/in/raniya-ketfi-569ba6151/">KETFI Raniya. </a></li>
    <li><b> WebPage : </b> <a href="https://dreamy-bohr-be4696.netlify.app/">KETFI Raniya. </a></li>
</ul>
</div>

<p> Check out fonctionnalities on the side bar menu.</p>
{% endblock %}

