<!doctype html>
<html lang="en">
  <head>
  	<title>{% block title %}  {% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='plotly-latest.min.js' )}}"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css' )}}">
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Meny</span>
	        </button>
        </div>
				<div class="p-4 pt-5">
		  		<h1><a href="{{url_for('home')}}" class="logo">Forcast</a></h1>
	        <ul class="list-unstyled components mb-5">
	          <li >
	            <a href="{{url_for('forcast')}}" >Forcasting</a>
	            
	          </li>
	        
	         
	         
	          <li>
              <a href="{{url_for('about')}}">About</a>
	          </li>
			  <br>
			  <br>
			  <br>

			  <li>
				<a href="{{url_for('logout')}}">Log out</a>
				</li>
	        </ul>

	      

	        <div class="footer">
	        	<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						  This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
						  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
	        </div>

	      </div>
    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
{% block content %}  {% endblock %}
         </div>
		</div>
		{% block sc %}
		 {% endblock %}
		 <script type="module">
			// Import the functions you need from the SDKs you need
			import { initializeApp } from "https://www.gstatic.com/firebasejs/9.8.3/firebase-app.js";
			import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.8.3/firebase-analytics.js";
			// TODO: Add SDKs for Firebase products that you want to use
			// https://firebase.google.com/docs/web/setup#available-libraries
		  
			// Your web app's Firebase configuration
			// For Firebase JS SDK v7.20.0 and later, measurementId is optional
			const firebaseConfig = {
			  apiKey: "AIzaSyCWZ4efggnXhx2898J-dtewSBP9vE-v534",
			  authDomain: "forecasting-963b0.firebaseapp.com",
			  projectId: "forecasting-963b0",
			  storageBucket: "forecasting-963b0.appspot.com",
			  messagingSenderId: "386172274311",
			  appId: "1:386172274311:web:914be4ba5b8d8e1983da22",
			  measurementId: "G-ZYL6FLWW5B"
			};
		  
			// Initialize Firebase
			const app = initializeApp(firebaseConfig);
			const analytics = getAnalytics(app);
		  </script>
    <script src="{{ url_for('static', filename='js/jquery.min.js' )}}"></script>
    <script src="{{ url_for('static', filename='js/popper.js' )}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js' )}}"></script>
    <script src="{{ url_for('static', filename='js/main.js' )}}"></script>
  </body>
</html>